img {
  width: 150px;       
  height: 150px;      
  border-radius: 50%;   
  object-fit: cover;  
  border: 3px solid #3f51b5;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  align-items: center;
  margin: 0 auto; 
  display: block;
}
.card { padding: 20px; border-radius: 8px; transition: all 0.3s; }

.estado-critico { background-color: #ffcccc; border: 2px solid red; }
.estado-optimo { background-color: #ccffcc; border: 2px solid green; }